<div class="card border border-dark">
    <ul class="list-group list-group-flush  text-center">
      <li class="list-group-item">
        <a class="text-reset"  data-bs-toggle="offcanvas" href="#offcanvasComments" role="button" aria-controls="offcanvasComments">بحث و نظر</a>
      </li>
      <li class="list-group-item text-center">
        <div class="d-flex">
          <div class="p-2 flex-fill"><i class="bi bi-telegram"></i></div>
          <div class="p-2 flex-fill"><i class="bi bi-whatsapp"></i></div>
          <div class="p-2 flex-fill"><i class="bi bi-twitter"></i></div>
          <div class="p-2 flex-fill"><i class="bi bi-share-fill"></i></div>
        </div>
      </li>
    </ul>
  </div>
