
<div class="card shadow-sm border-dark h-100">
        <nav class="navbar bg-first rounded-top-3 pb-0 border-bottom  border-dark">
            <ul class="navbar-nav mx-2">
                <li class=" nav-item first text-secondary bg-white border border-dark border-bottom-0 rounded-top mb-n1 pb-0 p-2">
                    {%if post.contents%}{% for pcontent in post.contents %}{% assign pcont = site.contents | where: 'relative_path', pcontent.path | first %}
                    {% if pcont %}<span><a class="text-reset" href="{{cont.url}}"><i class="{{cont.icon}}"></i> {{pcont.title}}</a></span> {% endif %}{% endfor %} / {%endif%}
                    {%if post.categories%}{% for category in post.categories %}{% assign categ = site.categories | where: 'relative_path', category.path | first %}
                    {% if categ %}<span><a class="text-reset" href="{{categ.url}}">{{categ.title}}</a></span> {% endif %}{% endfor %}{%endif%}
                </li>
            </ul>
            <a href="/magazine/" class="float-end text-reset me-3 text-muted">مجله</a>
        </nav>
    <div class="card-body">
        <h5 class="card-title"><a class="text-reset" href="{% if post %}{{post.url}}{% else%}${post[i].link} {% endif %}">{% if post.title %}{{post.title}}{% else%}${post[i].title} {% endif %}</a></h5>
        {% if post.subtitle %}<h6>{{post.subtitle}}</h6>{% endif %}
        <div class="card-subtitle mb-2 text-body-secondary">
            {% if post.people%}{% for person in post.people %}{% assign ppl = site.people | where: 'relative_path', person.path | first %}
            {% if ppl %}<a href="{{ppl.url}}" class="text-reset"><strong>{%if ppl.avatar %}<img src="//images.weserv.nl/?url=https://phicudemy.github.io{{ppl.avatar}}&w=20&h=20&fit=cover&mask=circle" class="float-start me-2">{% else %}<i class="bi bi-person-lines-fill"></i>{%endif%} {{ppl.title}}</strong></a>
            {% endif %}{% endfor %}{% endif %}
            {% if post.translator%} مترجم:  {% for person in post.translator %}{% assign ppl = site.people | where: 'relative_path', person.path | first %}
            {% if ppl %}<a href="{{ppl.url}}" class="text-reset"> {{ppl.title}}</a>
            {% endif %}{% endfor %}{% endif %}
        </div>
        <div class="card-text small">
            {%if post.url == page.url %}
            {% if post.people%}{% for person in post.people %}{% assign ppl = site.people | where: 'relative_path', person.person | first %}
            {% if ppl %}{%if ppl.content %} {{ppl.content | truncatewords:50 | strip_html}}{%endif%}
            {% endif %}
            {% endfor %}
            {% endif %}
            {%else%}
            {{ post.content| truncatewords:80 | strip_html  }}
            <a href="{{post.url}}" class="btn bg-secondary-subtle btn-sm float-end">مطالعه بیشتر</a>
            {%endif%}
        </div>
    </div>
    <nav class="navbar small navbar-expand-lg navbar-light bg-first rounded-bottom-3 p-0 border-top border-top-dashed border-dark">
        <div class="container-fluid justify-content-between">
          <!-- Left elements -->
          <div class="d-flex">
            <!-- Brand -->
            <div class="me-2 mb-1 text-muted font-fd">
                {% if post.content %}
                {{post.content | number_of_words |append: ' کلمه' }}
                {%endif%}
            </div>
          </div>
          <!-- Left elements -->
          <!-- Right elements -->
          <ul class="navbar-nav flex-row p-0">
            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link" href="{{post.url}}"><i class="bi bi-calendar3"></i>   <span class="persianDate" data-timestamp="{{post.date | date: '%s'}}"></span></a>
            </li>
          </ul>
          <!-- Right elements -->
        </div>
      </nav>
</div>