<div class="mb-2 {{ post.categories | join: ' ' }}">
  <div class="card shadow-sm">
      <div class="card-body">
        <small class="first text-secondary">
          <i class="bi bi-easel3-fill"></i>
          {%if post.contents%}{% for content in post.contents %}{% assign cont = site.contents | where: 'relative_path', content | first %}
          {% if cont %}<span><a class="text-reset" href="{{cont.url}}"><i class="{{cont.icon}}"></i> {{cont.title}}</a></span> {% endif %}{% endfor %} / {%endif%}            
          {% if post %}{%if post.categories%}{% for category in post.categories %}{% assign cat = site.categories | where: 'relative_path', category | first %}
          {% if cat %}<span><a class="text-reset" href="{{cat.url}}">{{cat.title}}</a></span> {% endif %}{% endfor %}{%endif%}{% else %}<a class="text-reset" href="${post[i].category[0].url} ">${post[i].category[0].title} </a>{% endif%}            
      </small>

        <h5 class="card-title"><a class="text-reset" href="{% if post %}{{post.url}}{% else%}${post[i].link} {% endif %}">{% if post.title %}{{post.title}}{% else%}${post[i].title} {% endif %}</a></h5>
        <div class="card-subtitle mb-2 text-body-secondary">
          {% if post %}
          {% if post.people%}{% for person in post.people %}{% assign ppl = site.people | where: 'relative_path', person | first %}
          {% if ppl %}<a href="{{ppl.url}}" class="text-reset">{%if ppl.avatar %}<img src="//images.weserv.nl/?url=https://phicudemy.github.io{{ppl.avatar}}&w=20&h=20&fit=cover&mask=circle" class="float-start me-2">{% else %}<i class="bi bi-person-lines-fill"></i>{%endif%} {{ppl.title}}</a>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% else %}
          ${authorlist}
          {% endif %}
        </div>
      </div>
      <ul class="list-group small list-group-flush">
        <li class="list-group-item">طول دوره: 
          <strong class="float-end">{% if post %}{{post.sessions}}{% else %}${post[i].sessions}{% endif %} جلسه</strong>
        </li>
        <li class="list-group-item">شروع: 
          <strong class="float-end"><span class="persianDate" data-timestamp="{% if post %}{{post.start | date: '%s'}}{% else %}${post[i].start}{% endif %}"></span></strong>
        </li>
        <li class="list-group-item">زمان برگزاری: 
          <strong class="float-end">{% if post %}{{post.schedule}}{% else %}${post[i].schedule}{% endif %}</strong>
        </li>
        <li class="list-group-item">شیوه: 
          <strong class="float-end">{% if post %}{{post.type | join: ' | '}}{% else %}${post[i].type}{% endif %}</strong>
        </li>
      </ul>
  </div>
</div>
