<div class="card shadow-sm border-dark">
        <nav class="navbar bg-secondary-subtle rounded-top-3 pb-0 border-bottom  border-dark">
            <ul class="navbar-nav mx-2">
                <li class=" nav-item first text-secondary bg-white border border-dark border-bottom-0 rounded-top mb-n1 pb-0 p-2">
                    {% if post %}{%if post.contents%}{% for content in post.contents %}{% assign cont = site.contents | where: 'relative_path', content | first %}
                    {% if cont %}<span><a class="text-reset" href="{{cont.url}}"><i class="{{cont.icon}}"></i> {{cont.title}}</a></span> {% endif %}{% endfor %} / {%endif%}
                    {% else%}
                    <a class="text-reset" href="${post[i].contents[0].url} "><i class="${post[i].contents[0].icon}"></i> ${post[i].contents[0].title} </a> / 
                    {% endif %}            
                    {% if post %}{%if post.categories%}{% for category in post.categories %}{% assign cat = site.categories | where: 'relative_path', category | first %}
                    {% if cat %}<span><a class="text-reset" href="{{cat.url}}">{{cat.title}}</a></span> {% endif %}{% endfor %}{%endif%}
                    {% else%}
                    <a class="text-reset" href="${post[i].category[0].url} ">${post[i].category[0].title} </a>
                    {% endif %}            
                </li>
            </ul>
            <a href="/posts/" class="float-end text-reset me-3 text-muted">مجله</a>
        </nav>
    <div class="card-body">
        <h5 class="card-title mb-0"><a class="text-reset" href="{% if post %}{{post.url}}{% else%}${post[i].link} {% endif %}">{% if post.title %}{{post.title}}{% else%}${post[i].title} {% endif %}</a></h5>
        <h6>{% if post.subtitle %}{{post.subtitle}}{% else%}${post[i].subtitle} {% endif %}</h6>
        <div class="card-subtitle mb-2 text-body-secondary">
            {% if post %}
            {% if post.people%}{% for person in post.people %}{% assign ppl = site.people | where: 'relative_path', person | first %}
            {% if ppl %}<a href="{{ppl.url}}" class="text-reset">{%if ppl.avatar %}<img src="//images.weserv.nl/?url=https://phicudemy.github.io{{ppl.avatar}}&w=20&h=20&fit=cover&mask=circle" class="float-start me-2">{% else %}<i class="bi bi-person-lines-fill"></i>{%endif%} {{ppl.title}}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% else %}
            ${authorlist}
            {% endif %}
              
        </div>
        <div class="card-text small">
            {%if post.url == page.url %}
            {% if post.people%}{% for person in post.people %}{% assign ppl = site.people | where: 'relative_path', person | first %}
            {% if ppl %}{%if ppl.content %} {{ppl.content | truncatewords:50 | strip_html}}{%endif%}
            {% endif %}
            {% endfor %}
            {% endif %}
            {%else%}
            {% if post %}{{ post.content| truncatewords:80 | strip_html  }}{% else%}${post[i].excerpt} {% endif %}
            <a href="{% if post %}{{post.url}}{% else%}${post[i].link} {% endif %}" class="btn bg-secondary-subtle btn-sm float-end">مطالعه بیشتر</a>
            {%endif%}
        </div>
    </div>
    <nav class="navbar small navbar-expand-lg navbar-light bg-body-tertiary rounded-bottom-3 p-0 border-top border-top-dashed border-dark">
        <div class="container-fluid justify-content-between">
          <!-- Left elements -->
          <div class="d-flex">
            <!-- Brand -->
            <div class="me-2 mb-1 text-muted">
                {% if post %}
                {% if post.content %}
                {{post.content | number_of_words |append: ' کلمه' }}
                {%endif%}
                {% else%}${post[i].length} {% endif %}                
            </div>
          </div>
          <!-- Left elements -->
      
          <!-- Right elements -->
          <ul class="navbar-nav flex-row p-0">
            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link" href="{% if post %}{{post.url}}{% else%}${post[i].link} {% endif %}"><i class="bi bi-calendar3"></i>   <span class="persianDate" data-timestamp="{% if post %}{{post.date | date: '%s'}}{% else%}${post[i].date} {% endif %}"></span></a>
            </li>
          </ul>
          <!-- Right elements -->
        </div>
      </nav>
    
</div>