<a href="{{post.url}}">
    <div class="card bg-first shadow-sm border-dark h-100">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-subtitle mb-2 text-body-secondary small">
          {% if post.subtitle %}{{post.subtitle}}
          {%else%}
          {% if post.people%}{% for person in post.people %}{% assign ppl = site.people | where: 'relative_path', person | first %}
          {% if ppl %}{%if ppl.avatar %}<img src="//images.weserv.nl/?url=https://phicudemy.github.io{{ppl.avatar}}&w=20&h=20&fit=cover&mask=circle" class="float-start me-2">{% else %}<i class="bi bi-person-lines-fill"></i>{%endif%} {{ppl.title}}
          {% endif %}{% endfor %}{% endif %}
          {%endif%}                                
          <span class="persianDate float-end" data-timestamp="{{post.date | date: '%s'}}"></span></p>
      </div>
    </div>
  </a>
