<div class="card border border-dark w-100">
    <ul class="list-group list-group-flush  text-center">
      <li class="list-group-item">
        <!--<a class="text-reset"  data-bs-toggle="offcanvas" href="#offcanvasComments" role="button" aria-controls="offcanvasComments">بحث و نظر</a>-->
        <h6>اشتراک‌گذاری</h6>
      </li>
      <li class="list-group-item text-center">
        <div class="d-flex justify-content-evenly">
          {% include shareButtons.html %}

        </div>
      </li>
    </ul>
  </div>
