<nav class="navbar navbar-expand-lg navbar-light bg-main rounded-bottom-3 pb-0 border-top border-top-dashed border-dark">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <div class="me-2 mb-1 d-flex align-items-center text-secondary" href="#">© ۱۴۰۳ تمامی حقوقِ مادی و معنوی سایت متعلق به «جمهوری فلسفه و ادبیات» است.</div>
      </div>
      <!-- Left elements -->
  
      <!-- Right elements -->
      <!-- <ul class="navbar-nav flex-row">
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link d-sm-flex align-items-sm-center" href="#">حریم شخصی</a>
        </li>
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" href="#">قوانین</a>
        </li>
      </ul> -->
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->