<nav class="navbar navbar-light navbar-expand-md justify-content-center bg-secondary-subtle rounded-top-3 pb-0 border-bottom  border-dark">
    <div class="container-fluid">
        <a class="navbar-brand abs h6" href="/">{{site.title}}</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapseNavbar">
            <ul class="navbar-nav">
            {% for item in site.data.navtop %}
                <li class="nav-item {% if page.url == item.link or page.url contains item.slug %} active bg-white border border-dark border-bottom-0 rounded-top mb-n1 pb-0{% endif %}">
                    <a class="nav-link {% if page.url == item.link %}mb-0 pb-0{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
                </li>
            {% endfor %}                
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">حمایت</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" href="#">پیوستن</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
