{% if page.url contains 'academy' or page.section contains 'academy' %}
{% assign target = site.events %}
{% assign section = 'academy' %}
{% elsif page.url contains 'magazine' or page.section contains 'magazine' %}
{% assign target = site.posts %}
{% assign section = 'magazine' %}
{% elsif page.url contains 'user' %}
{% assign target = 'user' %}
{% endif %}
<nav class="navbar navbar-light navbar-expand-md justify-content-center bg-first rounded-top-3 pb-0 border-bottom  border-dark">
    <div class="container-fluid">
        <button class="navbar-toggler position-absolute border-0 mt-2 ms-2 start-0 top-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand abs mx-auto  h6" href="/">{{site.title}}</a>
        <div class="position-absolute end-0 top-0 mt-2 me-2">
        </div>
        <div class="navbar-collapse collapse" id="collapseNavbar">
            <ul class="navbar-nav text-center">
            {% for item in site.data.navtop %}
                <li class="nav-item {% if page.url == item.link or page.url contains item.slug or page.section contains item.slug %} active bg-main nav-active{% endif %}">
                    <a class="nav-link {% if page.url == item.link %}mb-0 pb-0{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
                </li>
            {% endfor %}
                <li class="nav-item mx-1 {% if page.url contains 'user' %} active bg-main nav-active{% endif %}" id="nav-user-info" style="display: none;">
                    <a class="nav-link {% if page.url contains 'user' %}mb-0 pb-0{% endif %}" href="/user/">محیط کاربری</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto text-center">
                <li class="nav-item mx-1">
                    <a class="text-reset" href="https://t.me/jomhourifalsafe" target="_blank"><i class="bi bi-telegram h2 my-auto"></i></a>
                </li>
                <li class="nav-item mx-1">
                    <a class="text-reset" href="https://instagram.com/jomhourifalsafe" target="_blank"><i class="bi bi-instagram h2 my-auto"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if target %}
<nav class="navbar navbar-expand-lg navbar-light bg-main rounded-top-3 py-0 border-bottom border-bottom-dashed border-dark">
    <div class="container-fluid justify-content-between">
      <ul class="navbar-nav flex-row">
        {% for content in site.contents %}
        {% if page.url == content.url %}
        {%assign active = 'active' %}
        {% elsif page.contents %}
        {% for cont in page.contents %}{% if cont.path == content.relative_path %}{%assign active = 'active' %}{% else %}{%assign active = '' %}{%endif%}{%endfor%}
        {% else %}{%assign active = '' %}
        {%endif%}
        {% if content.section contains section %}
        {%assign contsize = 0 %}
        {% for post in target %}
        {% for cont in post.contents %}
        {% if cont.path == content.relative_path %}{%assign contsize = contsize | plus: 1 %}{%endif%}
        {%endfor%}
        {%endfor%}
        {%if contsize > 0 %}
        <li class="nav-item me-3 me-lg-1">
        
          <a class="nav-link d-sm-flex align-items-sm-center {{active}}" href="{{content.url}}">{{content.title}}</a>
        </li>
        {%endif%}
        {%endif%}
        {%endfor%}
        {% if page.url contains 'user' %}
        <li class="nav-item me-3 me-lg-1 user-access">
            <a class="nav-link d-sm-flex align-items-sm-center {% if page.url == '/user/' %}active{%endif%}" href="/user/">مشخصات</a>
        </li>
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center {% if page.url contains 'registerations' %}active{%endif%}" href="/user/registerations/">ثبت‌نام‌ها</a>
        </li>
        <li class="nav-item me-3 me-lg-1 admin-access" style="display: none;">
            <a class="nav-link d-sm-flex align-items-sm-center admin {% if page.url contains 'user/manage_users' %}active{%endif%}" href="/user/manage_users/">مدیریت کاربران</a>
        </li>
        <li class="nav-item me-3 me-lg-1 admin-access" style="display: none;">
            <a class="nav-link d-sm-flex align-items-sm-center admin {% if page.url contains 'user/manage_events' %}active{%endif%}" href="/user/manage_events/">مدیریت ثبت‌نام‌ها</a>
        </li>
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center {% if contains 'changepassword' %}active{%endif%}" href="/user/changepassword/">تغییر پسورد</a>
        </li>
        <li class="nav-item me-3 me-lg-1">
            <button class="logout-button text-danger nav-link d-sm-flex align-items-sm-center {% if contains 'changepassword' %}active{%endif%}" >خروج</button>
        </li>
        {%endif%}

      </ul>  
    </div>
  </nav>
  <!-- Navbar -->
{%endif%}
