<form id="registration-form"  style="display: none;">
    <h2>ثبت‌نام</h2>
    <div id="signupAlert" class="alert alert-warning" role="alert" style="display: none;">
        برای مدیریت ثبت‌نام‌ها و تجربه بهتر در سایت می‌توانید <a href="/user/signup/">عضو شوید</a>.
    </div>    
    <div class="mb-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="studentReg">
          <label class="form-check-label" for="studentReg">دانشجویی</label>
        </div>        
    </div>
    <div class="mb-3">
        <label for="reg-fullname" class="form-label">نام و نام خانوادگی</label>
        <input type="text" id="reg-fullname" class="form-control" required>
      </div>

    <div class="mb-3">
      <label for="reg-email" class="form-label">ایمیل</label>
      <input type="email" id="reg-email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="reg-cell" class="form-label">شماره همراه</label>
        <input type="tel" id="reg-phone" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="reg-notes" class="form-label">یادداشت</label>
      <textarea id="reg-notes" class="form-control"></textarea>
    </div>
    <input type="hidden" id="reg-title" value="{{page.title}}">
    <input type="hidden" id="reg-pay1" value="{{page.register}}">
    <input type="hidden" id="reg-pay2" value="{{page.stdregister}}">
    <input type="hidden" id="reg-url" value="{{page.id}}">
    <input type="hidden" id="reg-user_id" value="">
    
    <button type="submit" class="btn btn-success float-end">ثبت‌نام</button>
  </form>
  <div id="registration-status"></div>
