<a class="btn btn-light rounded-circle shadow-sm" href="https://t.me/share/url?url={{site.url}}{{page.url}}&text={{page.title}}" target="_blank"><i class="bi bi-telegram"></i></a>
<a class="btn btn-light rounded-circle shadow-sm" href="https://api.whatsapp.com/send?text={{page.title}}%0A{{site.url}}{{page.url}}" target="_blank"><i class="bi bi-whatsapp"></i></a>
<a class="btn btn-light rounded-circle shadow-sm" href="https://twitter.com/intent/tweet?text={{page.title}}%0A{{site.url}}{{page.url}}" target="_blank"><i class="bi bi-twitter"></i></a>
<button type="button" class="btn btn-light rounded-circle shadow-sm btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy="{{site.url}}{{page.url}}" title="کپی لینک">
  <i class="bi bi-share-fill"></i>
</button>