---
layout: default
---
<div class="container">
  <div class="row">
      <div class="col-sm-5 p-lg-5 my-auto">
        <div class="">
          <h2 class="display-2 mb-lg-5 mb-sm-2"><strong>{{page.title}}</strong></h2>
        </div>
      </div>
      <div class="col-sm-7 p-lg-5 align-self-center">
        <img src="//images.weserv.nl/?url=https://jomhourifalsafe.com{{page.image}}&w=800&fit=cover" class="rounded mx-auto d-block w-100 h-75 object-fit-contain " alt="...">
      </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <button class="nav-link active event text-reset" aria-current="page">همه</button>
      </li>
      {% for content in site.contents %}
      {%assign contsize = 0 %}
      {% for post in site.events %}
      {% for cont in post.contents %}
      {% if cont.path == content.relative_path %}{%assign contsize = contsize | plus: 1 %}{%endif%}
      {%endfor%}
      {%endfor%}
      {% if contsize > 0 %}
      <li class="nav-item">
        <button class="nav-link text-reset event" value="{{content.slug}}">{{content.title}}</button>
      </li>
      {%endif%}
      {%endfor%}
    </ul>
  </div>
  <div class="row mb-5">
    {% for post in site.events %}
    <div class="col-lg-4 mb-2 event-card {%if post.contents%}{% for content in post.contents %}{% assign cont = site.contents | where: 'relative_path', content.path | first %}{% if cont %}{{cont.slug}}{% endif %}{% endfor %} {%endif%}">
      {% include cardCourse.html%}
    </div>
    {%endfor%}
  </div>
</div>

