---
layout: default
jsFile: post.js 
---
{% for category in page.categories %}{% assign cat = site.categories | where: 'relative_path', category | first %}
{% if cat %}{% assign botcat = cat.title %}{% assign botcaturl = cat.url %}{% endif %}
{% endfor %}
<section class="post-header">
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-sm-6 mx-auto my-auto">
        
        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/academy/">آکادمی</a></li>
            {%if page.contents%}{% for content in page.contents %}{% assign cont = site.contents | where: 'relative_path', content.path | first %}
            {% if cont %}<li class="breadcrumb-item" aria-current="page"><a class="text-danger" href="{{cont.url}}"><i class="{{cont.icon}}"></i> {{cont.title}}</a></li> {% endif %}{% endfor %}{%endif%}
            {%if page.categories%}{% for category in page.categories %}{% assign categ = site.categories | where: 'relative_path', category.path | first %}
            {% if categ %}<li class="breadcrumb-item" aria-current="page"><a class="text-danger" href="{{categ.url}}">{{categ.title}}</a></li> {% endif %}{% endfor %}{%endif%}
          </ol>
        </nav>
        <h1 class="display-5 mb-0">{{page.title}}</h1>
        <h3 class="text-muted mb-4">
          {% if page.people%}{% for author in page.people %}{% assign aut = site.people | where: 'relative_path', author.path | first %}
          {% if aut %}
          <a href="{{aut.url}}" class="text-reset"><strong>{{aut.title}}</strong></a>
          {% endif %}
          {% unless forloop.last %} | {% endunless %}
          {% endfor %}{%endif%}
        </h3>  
        <p class=" mt-2 lead">
          <i class="bi bi-telegram p-2"></i><i class="bi bi-whatsapp p-2"></i><i class="bi bi-twitter p-2"></i><i class="bi bi-share-fill p-2"></i> | 
          <span class="persianMonth" data-timestamp="{%if page.start %}{{page.start | date: '%s'}}{%else%}{{page.date | date: '%s'}}{%endif%}"></span>
          {%if page.sessions %} | <span class="font-fd">{{page.sessions}}</span> جلسه {%endif%}
          {% if page.format %}(<span>{% for frmt in page.format %}{% assign fmt = site.data.dict | where: 'en', frmt | first %}{{fmt.fa}}{% unless forloop.last %} و {% endunless %}{%endfor%}</span>){%endif%}
          {% if page.schedule %} | {{page.schedule}}{%endif%} 
          {% if page.register %}
          <div class="btn-group d-none d-sm-block float-end btn-group-lg" role="group" aria-label="registration">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#preregistrModal">پیش‌ثبت‌نام</button>
            <a class="btn btn-first" href="{{page.register}}" target="_blank">ثبت‌نام</a>
          </div>
          {%endif%}
        </p>
        {% if page.register %}
        <div class="d-grid d-block d-sm-none bg-dark position-fixed bottom-0 start-0 w-100">
          <button type="button" class="btn btn-warning btn-lg rounded-0" data-bs-toggle="modal" data-bs-target="#preregistrModal">پیش‌ثبت‌نام</button>
          <a class="btn btn-first btn-lg rounded-0" href="{{page.register}}" target="_blank">ثبت‌نام</a>
        </div>
        {%endif%}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 pt-3 course-card">
        <div data-spy="affix" class="d-flex flex-column d-none side-card" style="height: 100vh;">
          <div class="">
            {% assign post = page %}
            {% include cardCourse.html %}
          </div>
          <div class="mt-auto mb-3">
            {% include cardComment.html %}
          </div>
        </div> 
      </div>     
      <div class="col-sm-6 pt-3 content">
        {{page.content| markdownify}}
        <div class="mb-2 foot-comment">
          {% include cardComment.html %}
        </div>
        {% include cardRels.html %}
      </div>
    </div>
  </div>
</section>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasComments" aria-labelledby="offcanvasCommentsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasCommentsLabel">دیدگاه و نظر</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <script src="https://giscus.app/client.js"
              data-repo="phicudemy/phicudemy.github.io"
              data-repo-id="R_kgDOLjzIGw"
              data-category="Announcements"
              data-category-id="DIC_kwDOLjzIG84CfJU1"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="top"
              data-theme="light_high_contrast"
              data-lang="fa"
              crossorigin="anonymous"
              async>
      </script>
    </div>
  </div>
</div>                  
<div class="modal fade" id="preregistrModal" tabindex="-1" aria-labelledby="preregistrModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="preregistrForm" action="https://formspree.io/f/xanywowv" method="POST">
        <input type="hidden" name="event" id="event" value="{{page.title}}" >
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">پیش‌ثبت‌نام {{page.title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3 input">
            <input type="text" name="name" required class="form-control" id="floatingInputName" placeholder="">
            <label for="floatingInputName">نام و نام خانوادگی</label>
          </div>
          <div class="form-floating mb-3 input">
            <input type="email" name="email" required class="form-control" id="floatingInputEmail" placeholder="test@example.com">
            <label for="floatingInputEmail">ایمیل</label>
          </div>
          <div class="form-floating mb-3 input">
            <input type="tel" name="celll" required class="form-control" id="floatingInputCell" placeholder="09123456789">
            <label for="floatingInputCell">شماره همراه</label>
          </div>
          <div class="form-floating input">
            <textarea name="comment" class="form-control" placeholder="" id="floatingComment"></textarea>
            <label for="floatingComment">توضیحات ...</label>
          </div>
          <p id="my-form-status"></p>
        </div>
        <div class="modal-footer input">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
          <button type="submit" class="btn btn-first px-5">ثبت</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  var form = document.getElementById("preregistrForm");
  
  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("my-form-status");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
          'Accept': 'application/json'
      }
    }).then(response => {
      if (response.ok) {
        status.innerHTML = "پیش‌ثبت‌نام با موفقیت انجام شد.";
        $('.input').hide()
        form.reset()
      } else {
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
          } else {
            status.innerHTML = "مشکلی در انجام ثبت‌نام به وجود آمده است."
          }
        })
      }
    }).catch(error => {
      status.innerHTML = "مشکلی در انجام ثبت‌نام به وجود آمده است"
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>
