---
layout: default
jsFile: post.js 
---
{% for category in page.categories %}{% assign cat = site.categories | where: 'relative_path', category | first %}
{% if cat %}{% assign botcat = cat.title %}{% assign botcaturl = cat.url %}{% endif %}
{% endfor %}
{% if page.people%}{% for author in page.people %}{% assign aut = site.people | where: 'relative_path', author | first %}
{% if aut %}{% assign botaut = aut.title %}{% assign botauturl = aut.url %}{% endif %}
{% endfor %}
{%endif%}
<section>
  <div class="container-fluid">
    <div class="row py-5  post-header" style="height: 90vh !important;">
      <div class="col-12 text-center my-auto">
        <h5 class="text-danger">
          <a href="{{botcaturl}}" class="text-reset">{{botcat}}</a>
        </h5>
        <h1 class="display-3 mb-0">{{page.title}}</h1>
        {% if page.people%}{% for author in page.people %}{% assign aut = site.people | where: 'relative_path', author | first %}
        {% if aut %}
        <a href="{{aut.url}}" class="text-reset lead"><strong>{{aut.title}}</strong></a>
        {% endif %}
        {% endfor %}{%endif%}
        <p class="text-muted">
          <i class="bi bi-hourglass-split"></i>  {{page.sessions}} جلسه   - <span class="persianDate " data-timestamp="{{page.start | date: '%s'}}"></span> <i class="bi bi-calendar3"></i> 
        </p>
        <p class="lead text-dar">
          این دوره در
          {% if page.sessions%}{{page.sessions}} جلسه {%endif%}
          به صورت
          {{page.type | join: ' و '}}
          از تاریخ
          <span class="persianDate " data-timestamp="{{page.start | date: '%s'}}"></span>،
          {{page.schedule}}
          برگزار می‌شود.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 pt-3 course-card">
        <div data-spy="affix" class="d-flex flex-column d-none side-card" style="height: 100vh;">
          <div class="">
            {% assign post = page %}
            {% include cardCourse.html %}
          </div>
          <div class="mt-auto mb-3">
            <div class="card border border-dark">
              <ul class="list-group list-group-flush  text-center">
                <li class="list-group-item">
                  <a class="text-reset"  data-bs-toggle="offcanvas" href="#offcanvasComments" role="button" aria-controls="offcanvasComments">بحث و نظر</a>
                </li>
                <li class="list-group-item text-center">
                  <div class="d-flex">
                    <div class="p-2 flex-fill"><i class="bi bi-telegram"></i></div>
                    <div class="p-2 flex-fill"><i class="bi bi-whatsapp"></i></div>
                    <div class="p-2 flex-fill"><i class="bi bi-twitter"></i></div>
                    <div class="p-2 flex-fill"><i class="bi bi-share-fill"></i></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> 
      </div>     
      <div class="col-sm-6 pt-3 content">
        {{page.content| markdownify}}
        <div class="mb-2 foot-comment">
          {% include cardComment.html %}
        </div>
        {% include cardRels.html %}
      </div>
    </div>
  </div>
</section>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasComments" aria-labelledby="offcanvasCommentsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasCommentsLabel">دیدگاه و نظر</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <script src="https://giscus.app/client.js"
              data-repo="phicudemy/phicudemy.github.io"
              data-repo-id="R_kgDOLjzIGw"
              data-category="Announcements"
              data-category-id="DIC_kwDOLjzIG84CfJU1"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="top"
              data-theme="light_high_contrast"
              data-lang="fa"
              crossorigin="anonymous"
              async>
      </script>
    </div>
  </div>
</div>                  
