---
layout: default
jsFile: post.js 
---
{% for category in page.categories %}{% assign cat = site.categories | where: 'relative_path', category | first %}
{% if cat %}{% assign botcat = cat.title %}{% assign botcaturl = cat.url %}{% endif %}
{% endfor %}
{% assign now = site.time | date: '%s' | plus: 0%}
{% assign postTime = page.start | date: '%s' | plus: 0%}
{% if page.sessions > 1 %}{%assign enddate = page.sessions | times: 604800 %} {%assign postTime = postTime | plus: enddate %}{%endif%}
{%if postTime > now  %}{%assign register = true %}{%else%}{%assign register = false %}{%endif%}
<section class="post-header">
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-sm-6 mx-auto my-auto">
        
        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/academy/">آکادمی</a></li>
            {%if page.contents%}{% for content in page.contents %}{% assign cont = site.contents | where: 'relative_path', content.path | first %}
            {% if cont %}<li class="breadcrumb-item" aria-current="page"><a class="text-danger" href="{{cont.url}}"><i class="{{cont.icon}}"></i> {{cont.title}}</a></li> {% endif %}{% endfor %}{%endif%}
            {%if page.categories%}{% for category in page.categories %}{% assign categ = site.categories | where: 'relative_path', category.path | first %}
            {% if categ %}<li class="breadcrumb-item" aria-current="page"><a class="text-danger" href="{{categ.url}}">{{categ.title}}</a></li> {% endif %}{% endfor %}{%endif%}
          </ol>
        </nav>
        <h1 class="display-5 mb-0">{{page.title}}</h1>
        <h3 class="text-muted mb-4">
          {% if page.people%}{% for author in page.people %}{% assign aut = site.people | where: 'relative_path', author.path | first %}
          {% if aut %}
          <a href="{{aut.url}}" class="text-reset"><strong>{{aut.title}}</strong></a>
          {% endif %}
          {% unless forloop.last %} | {% endunless %}
          {% endfor %}{%endif%}
        </h3>  
        <p class=" mt-2 lead">
          {% include shareButtons.html %}
          | 
          <span class="persianMonth" data-timestamp="{%if page.start %}{{page.start | date: '%s'}}{%else%}{{page.date | date: '%s'}}{%endif%}"></span>
          {%if page.sessions %} | <span id="sessionsNo" class="font-fd">{{page.sessions}}</span> جلسه {%endif%}
          {% if page.format %}(<span>{% for frmt in page.format %}{% assign fmt = site.data.dict | where: 'en', frmt | first %}{{fmt.fa}}{% unless forloop.last %} و {% endunless %}{%endfor%}</span>){%endif%}
          {% if page.schedule %} | {{page.schedule}}{%endif%} 
          {% if page.register or page.stdregister %}
          <div class="register-btns btn-group float-end btn-group-lg" role="group" aria-label="registration">
          {%if register == true %}
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#preregistrModal">پیش‌ثبت‌نام</button>
            {% if page.register %}<a class="btn btn-first" href="{{page.register}}" target="_blank">ثبت‌نام</a>{%endif%} 
            {% if page.stdregister %}<a class="btn btn-warning" href="{{page.stdregister}}" target="_blank">دانشجویی</a>{%endif%} 
          {%else%}
            <button type="button"  class="btn btn-secondary" disabled>برگزارشده</button>
          {%endif%}
          </div>
          {%endif%}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 pt-3 course-card">
        <div data-spy="affix" class="d-flex flex-column d-none side-card" style="height: 100vh;">
          <div class="">
            {% assign post = page %}
            {% include cardCourse.html %}
          </div>
          <div class="mt-auto mb-3">
            {% include cardComment.html %}
          </div>
        </div> 
      </div>     
      <div class="col-sm-6 pt-3 content">
        {{page.content| markdownify}}
        <div class="mb-2 foot-comment">
          {% include cardComment.html %}
        </div>
        {% include cardRels.html %}
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="preregistrModal" tabindex="-1" aria-labelledby="preregistrModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="preregistrForm" method="post" action="https://script.google.com/macros/s/AKfycbz9EeQcbuzVYJ_Q8UbvMn78YyJRB6y9ovKZwIwwMHJERIFEtTRwqpge_7p6naCDYij8rw/exec" target="hidden_iframe" onsubmit="submitted=true;">
      <input type="hidden" name="Event" id="entry.374745072" value="{{page.title}}" >
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">پیش‌ثبت‌نام {{page.title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3 input">
            <input type="text" name="Name" required class="form-control" id="name" placeholder="">
            <label for="name">نام و نام خانوادگی</label>
          </div>
          <div class="form-floating mb-3 input">
            <input type="email" name="Email" required class="form-control" id="email" placeholder="test@example.com">
            <label for="email">ایمیل</label>
          </div>
          <div class="form-floating mb-3 input">
            <input type="tel" name="Cell" required class="form-control" id="cell" placeholder="09123456789">
            <label for="cell">شماره همراه</label>
          </div>
          <div class="form-floating input">
            <textarea name="Comment" class="form-control" placeholder="" id="comment"></textarea>
            <label for="comment">توضیحات ...</label>
          </div>
          <p id="my-form-status"></p>
        </div>
        <div class="modal-footer input">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
          <button type="submit" class="btn btn-first" style="width: 150px;">
            <span class="submit-text">ثبت</span>
            <div class="spinner-border spinner-border-sm" role="status" style="display: none;">
              <span class="visually-hidden"> ...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
