<!doctype html>
<html lang="fa" dir="rtl" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css?v=0.9">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/parastoo-font@v2.0.1/dist/font-face.css">
    <script type="text/javascript" src="/assets/vendors/jquery-3.6.0.js"></script>

    <script type="text/javascript" src="/assets/vendors/masonry.pkgd.min.js"></script>
    <script  type="text/javascript" src="/assets/js/main.js?v=0.5"></script>
    <title>{{ site.title }}{% if page.subTitle %}: {{page.subTitle}} {% else %} {% if page.title %}: {{ page.title }}{% endif %}{% endif %}</title>

  </head>
  <body class="{% if page.url == "/" %} h-100{% endif %} bg-second p-lg-5">
    <div class="cover-container main d-flex w-100 mb-5 mx-auto flex-column bg-white rounded rounded-3 shadow border border-dark " style="min-height: 90vh;">
    <header class="mb-auto">
      {% include navtop.html %}
    </header>
      <main>
        {{content}}
      </main>
      <footer class="mt-auto">
          {% include footer.html %}
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script async src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>

    {% if page.jsFile %}
    <script src="/assets/js/{{page.jsFile}}?v=0.5"></script>
    {%endif%}
  </body>
</html>
