---
layout: default
---
{% if page.slug == 'courses' %}
{% assign target = site.courses %}
{% elsif page.slug == 'posts' %}
{% assign target = site.posts %}
{% endif %}
<div class="container">
  <div class="row">
      <div class="col-sm-5 p-5 align-top">
        <div class="">
          <h2 class="display-1"><strong>{{page.title}}</strong></h2>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for category in site.categories %}
            {% assign catsize = target | where: 'categories', category.relative_path | size %}
            {%if catsize >0 %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{category.slug}}" aria-expanded="false" aria-controls="flush-collapseOne">
                  {{category.title}}
                </button>
              </h2>
              <div id="flush-collapse-{{category.slug}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                    {% assign catposts = target | where: 'categories', category.relative_path %}
                    {% for post in catposts| limit: 3  %}
                    <li class="list-group-item small"><a href="{{post.url}}" class="text-reset">{{post.title}}</a><span class="float-end text-muted persianDate" data-timestamp="{{post.date | date: '%s'}}"></span></li>
                    {%endfor%}
                  </ul>
                  <a href="{{category.url}}" class="float-end small text-danger strong mt-2">صفحه {{category.title}} <i class="bi bi-caret-left-fill"></i></a><br>
                </div>
              </div>
            </div>
            {%endif%}
            {%endfor%}
          </div>
        </div>
      </div>
      <div class="col-sm-7 p-5 align-self-center">
        <img src="//images.weserv.nl/?url=https://phicudemy.github.io{{page.image}}&w=800&fit=cover" class="rounded mx-auto d-block w-100 h-75 object-fit-contain " alt="...">
      </div>
  </div>
</div>
