---
layout: default
---
<div class="container">
  <div class="row py-5 px-lg-5">
      <div class="col-sm-5 align-top">
        <div class="">
          <h2 class="display-2 mb-lg-5 mb-sm-2"><strong>{{page.title}}</strong></h2>
          {{content}}
        </div>
      </div>
      <div class="col-sm-7 p-lg-5 align-self-center">
        <img src="//images.weserv.nl/?url=https://jomhourifalsafe.com{{page.image}}&w=800&fit=cover" class="rounded mx-auto d-block w-100 h-75 object-fit-contain " alt="...">
      </div>
  </div>
</div>

