---
layout: default
---
{% if page.slug == 'courses' %}
{% assign target = site.courses %}
{% elsif page.slug == 'posts' %}
{% assign target = site.posts %}
{% endif %}
<div class="container-fluid">
    <div class="row post-header" style="min-height: 50vh !important;">
      <div class="col-12 text-center my-auto">
        <h1 class="display-1">{{page.title}}</h1>
        <p class="lead">{{page.content}}</p>
        {% capture homecats %}
        {% for category in site.categories %}
        {% assign catsize = target | where: 'categories', category.relative_path | size %}
        {%if catsize >0 %}
        <span data-sort="{{ catsize | plus: 1000}}" class="option-set" data-group="{{category.slug}}">
          <input type="checkbox" class="btn-check" name="category" value="{{category.slug}}" id="{{category.slug}}" autocomplete="off">
          <label class="btn btn-outline-dark btn-sm  mb-1" for="{{category.slug}}">{{category.title}}</label>
        </span>
        {%endif%}
        {%endfor%}
        {% endcapture %}
        {{ homecats | split:'</span>' | sort | reverse | join:'</span>' }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <nav class="d-lg-block sidebar sticky-top mb-3">
          <button type="button" class="btn btn-outline-secondary mx-auto d-block d-sm-none d-md-none" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
            فیلتر <i class="bi bi-funnel-fill"></i>
          </button>
        <div id="sidebarMenu" class="collapse d-lg-block sidebar collapse sticky-top">
          <div class="ui-group position-sticky">
            <h4 class="">جستجو</h4>
            <form id="searchForm">
              <div class="input-group mb-3 rounded-0">
                <input type="search" class="form-control rounded-0 border-top-0 bg-transparent border-end-0 border-start-0 border-dark border-2" id="searchTxt" placeholder="عبارت مورد نظر..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-link text-reset rounded-0 border-top-0 border-end-0 border-start-0 border-dark border-2" type="button" id="clearBtn" style="display:none;"><i class="bi bi-x"></i></button>
                <button class="btn btn-link text-reset rounded-0 border-top-0 border-end-0 border-start-0 border-dark border-2" type="submit" id="searchBtn"><i class="bi bi-search"></i></button>
              </div>
            </form>
            <div class="filters">
              <h4 class="my-2">مؤلف</h4>
              {% capture homeppl %}
              {% for ppl in site.people %}
              {% assign pplsize = target | where: 'people', ppl.relative_path | size %}
              {%if pplsize >0 %}
              <span data-sort="{{ pplsize | plus: 1000}}" class="option-set" data-group="{{ppl.slug}}">
                <input type="checkbox" class="btn-check" name="people" value="{{ppl.slug}}" id="{{ppl.slug}}" autocomplete="off">
                <label class="btn btn-outline-dark btn-sm  mb-1" for="{{ppl.slug}}">{{ppl.title}}</label>
              </span>
              {%endif%}
              {%endfor%}
              {% endcapture %}
              {{ homeppl | split:'</span>' | sort | reverse | join:'</span>' }}
              <h4 class="my-2">برچسب</h4>
              {% capture hometags %}
              {% for tag in site.tags %}
              {% assign tagsize = target | where: tags.tag, tag.relative_path | size %}
              {%if tagsize >0 %}
              <span data-sort="{{ tagsize | plus: 1000}}" class="option-set" data-group="{{category.slug}}">
                <input type="checkbox" class="btn-check" name="tag" value="{{tag.slug}}" id="{{tag.slug}}" autocomplete="off">
                <label class="btn btn-outline-dark btn-sm  mb-1" for="{{tag.slug}}">{{tag.title}}</label>
              </span>
              {%endif%}
              {%endfor%}
              {% endcapture %}
              {{ hometags | split:'</span>' | sort | reverse | join:'</span>' }}
            </div>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->
      </div>
      <div class="col-sm-9">
        <div class="container">
          <div id="grid" class="grid">
            <div class="grid-sizer"></div>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-secondary" name="loadMore" id="loadMore" style="display:none;">بیشتر</button>
          </div>
        </div>
        </div>
    </div>
  </div>
  <script>
{% if page.slug == 'courses' %}
$.ajax({
  url:"/courses.json",
  dataType: 'json',
  async: false,
  success: function(data) {
    contents = data;

  }
});
{% elsif page.slug == 'posts' %}
$.ajax({
  url:"/posts.json",
  dataType: 'json',
  async: false,
  success: function(data) {
    contents = data;

  }
});
{% endif %}

var no =10;
var to = 10;
var catPosts, filteredCats,searchTxt;
var $grid = $('.grid').masonry({
  originLeft: false,
  columnWidth: ".grid-sizer",
  itemSelector: ".grid-item",
  percentPosition: true
});

displayPost(contents);
$('#loadMore').on('click', function () {
to += no;
displayPost(contents);
})
function displayPost(post) {
if (post.length > to ) {
  $('#loadMore').show();
} else {
  $('#loadMore').hide();
}
for (var i = to-no ; i < to; i++) {
  if (i< post.length) {
    var taglist = '';
    var authorlist = '';
    var coverImg = '';
    var excerpt = '';
    var $postCard = '';
    for (var j = 0; j < post[i].tags.length; j++) {
      var tagitem= `<a href="${post[i].tags[j].url}" class="btn btn-light rounded-pill me-1 mb-1"><i class="bi bi-hash"></i>${post[i].tags[j].title}</a>`;
      taglist += tagitem;
    }
    if (post[i].coverImg) {
      coverImg = `<a href="${post[i].link}"><img src="${post[i].coverImg}" class="card-img-top" alt="${post[i].title}"></a>`;
      excerpt = ''
    } else {
      coverImg = '';
      excerpt = '<p class="m-0">'+post[i].excerpt+'</p>';
    }
    for (var j = 0; j < post[i].authors.length; j++) {
      var authoritem= `<a class="text-reset" href="${post[i].authors[j].url}">${post[i].authors[j].avatar? `<img src="//images.weserv.nl/?url=https://phicudemy.github.io${post[i].authors[j].avatar}&w=20&h=20&fit=cover&mask=circle" class="float-start me-2">`: `` }${post[i].authors[j].title}</a> `;
      authorlist += authoritem;
    }
    {% if page.slug == 'courses' %}
    var postCard = `
    <div class="grid-item ${post[i].featured? 'grid-item--width2': ''} ${post[i].category[0]? post[i].category[0].slug : ''} px-2 pb-4 mb-2">
            {% include cardCourse.html%}
    </div>
    `;
    {% elsif page.slug == 'posts' %}
    var postCard = `
    <div class="grid-item ${post[i].featured? 'grid-item--width2': ''} ${post[i].category[0].slug} px-2 pb-4 mb-2">
      {% include cardContent.html%}
    </div>
    `;
    {% endif %}

    $postCard = $(postCard)
    $grid.append($postCard).masonry( 'appended', $postCard );
  }
}
}

function filterPost() {
$('html, body').animate({ scrollTop: 0 }, 120);
to = no;
var selectedPosts = contents;
filteredCats = [];
if (searchTxt) {
  selectedPosts = selectedPosts.filter(function(el) {
     return el.search.includes(searchTxt)
  } );
}
  filteredCats = $('input[name=category]').filter(":checked").map(function(){return this.value;}).get();
  if (filteredCats.length > 0) {
    selectedPosts = selectedPosts.filter(i => i.category.some(g=> filteredCats.includes(g.slug)))
  }
  filteredTags = $('input[name=tag]').filter(":checked").map(function(){return this.value;}).get();
  if (filteredTags.length > 0) {
    selectedPosts = selectedPosts.filter(i => i.tags.some(g=> filteredTags.includes(g.slug)))
  }
  $grid.masonry( 'remove', $grid.find('.grid-item') ).masonry('layout');
  window.scrollTo({top: 0, behavior: 'smooth'});
  displayPost(selectedPosts)
}
$('#clearBtn').on('click', function functionName() {
$('#searchForm').trigger('reset');
$('#searchBtn').show();
$('#clearBtn').hide();
searchTxt = null;
filterPost()

})
$('#searchForm').submit(function (e) {
e.preventDefault();
$('#searchBtn').hide();
$('#clearBtn').show();
searchTxt = $('#searchTxt').val();
filterPost()
})
$('input[type=checkbox]').on('change', function () {
filterPost()
})

  </script>