---
layout: default
jsFile: post.js 
---
{% for category in page.categories %}{% assign cat = site.categories | where: 'relative_path', category.path | first %}
{% if cat %}{% assign botcat = cat.title %}{% assign botcaturl = cat.url %}{% endif %}
{% endfor %}
<section class="post-header">
  <div class="container-fluid">
    <header class="row py-5  ">
      <div class="col-sm-6 mx-auto my-auto">
        <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/magazine/">مجله</a></li>
            {%if page.contents%}{% for content in page.contents %}{% assign cont = site.contents | where: 'relative_path', content.path | first %}
            {% if cont %}<li class="breadcrumb-item" aria-current="page"><a class="text-danger" href="{{cont.url}}"><i class="{{cont.icon}}"></i> {{cont.title}}</a></li> {% endif %}{% endfor %}{%endif%}
            {%if page.categories%}{% for category in page.categories %}{% assign categ = site.categories | where: 'relative_path', category.path | first %}
            {% if categ %}<li class="breadcrumb-item" aria-current="page"><a class="text-danger" href="{{categ.url}}">{{categ.title}}</a></li> {% endif %}{% endfor %}{%endif%}
          </ol>
        </nav>
        <h1 class="display-5 mb-4">{{page.title}}</h1>
        {% if page.subtitle%}<h2 class="mb-4">{{page.subtitle}}</h2>{%endif%}
        <h3 class="text-muted mb-4">
        {% if page.people%}{% for author in page.people %}{% assign aut = site.people | where: 'relative_path', author.path | first %}
        {% if aut %}
        <a rel="author" href="{{aut.url}}" class="text-reset">{{aut.title}}</a>
        {% endif %}
        {% endfor %}{%endif%}
        {% if page.translator%} | مترجم: {% for author in page.translator %}{% assign aut = site.people | where: 'relative_path', author.path | first %}
        {% if aut %}
        <a href="{{aut.url}}" class="text-reset">{{aut.title}}</a>
        {% endif %}
        {% endfor %}{%endif%}
        </h3>
        <p class=" mt-2 lead">
          {% include shareButtons.html %}

           | <time class="persianDate" data-time="{{page.date}}" data-timestamp="{{page.date | date: '%s'}}"></time> | <span class="font-fd">{{page.content | number_of_words }} کلمه </span>
        </p>
        <!-- <p class="lead text-dark">
          {% assign read = page.content %}
          {{page.excerpt | strip_html}}
        </p> -->
      </div>
    </header>
    <div class="row">
      <div class="col-sm-3 pt-3 course-card" >
          <div data-spy="affix" class="d-flex flex-column  d-none side-card" style="height: 100vh;">
            <div class="">
              {% assign post = page %}
              {% include cardContent.html %}
            </div>
            <div class="mt-auto mb-3">
              {% include cardComment.html %}
            </div>
          </div>
      </div>      
      <div class="col-sm-6 pt-3 content lh-lg">
        <article>
          {{page.content| markdownify}}
        </article>
        <div class="mb-2 foot-comment">
          {% include cardComment.html %}
        </div>
        {% include cardRels.html %}

        </div>
    </div>
  </div>
</section>
