---
layout: default
jsFile: post.js 
---
{% for category in page.categories %}{% assign cat = site.categories | where: 'relative_path', category | first %}
{% if cat %}{% assign botcat = cat.title %}{% assign botcaturl = cat.url %}{% endif %}
{% endfor %}
{% if page.people%}{% for author in page.people %}{% assign aut = site.people | where: 'relative_path', author | first %}
{% if aut %}{% assign botaut = aut.title %}{% assign botauturl = aut.url %}{% endif %}
{% endfor %}
{%endif%}
<section class="post-header">
  <div class="container-fluid">
    <div class="row py-5  ">
      <div class="col-sm-6 mx-auto my-auto">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-danger" href="/magazine/">مجله</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a class="text-danger" href="{{botcaturl}}">{{botcat}}</a></li>
          </ol>
        </nav>
        <h1 class="display-5 mb-4">{{page.title}}</h1>
        {% if page.subtitle%}<h2 class="mb-4">{{page.subtitle%}}</h2>{%endif%}
        {% if page.people%}{% for author in page.people %}{% assign aut = site.people | where: 'relative_path', author | first %}
        {% if aut %}
        <a href="{{aut.url}}" class="text-muted h3"><strong>{{aut.title}}</strong></a>
        {% endif %}
        {% endfor %}{%endif%}
        <p class=" mt-2 lead">
          <i class="bi bi-telegram p-2"></i><i class="bi bi-whatsapp p-2"></i><i class="bi bi-twitter p-2"></i><i class="bi bi-share-fill p-2"></i> | <span class="persianDate " data-timestamp="{{page.date | date: '%s'}}"></span> | <span class="font-fd">{{page.content | number_of_words }} کلمه </span>
        </p>
        <!-- <p class="lead text-dark">
          {% assign read = page.content %}
          {{page.excerpt | strip_html}}
        </p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 pt-3 course-card" >
          <div data-spy="affix" class="d-flex flex-column  d-none side-card" style="height: 100vh;">
            <div class="">
              {% assign post = page %}
              {% include cardContent.html %}
            </div>
            <div class="mt-auto mb-3">
              {% include cardComment.html %}
            </div>
          </div>
      </div>      
      <div class="col-sm-6 pt-3 content lh-lg">
        {{page.content| markdownify}}
        <div class="mb-2 foot-comment">
          {% include cardComment.html %}
        </div>
        {% include cardRels.html %}

        </div>
    </div>
  </div>
</section>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasComments" aria-labelledby="offcanvasCommentsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasCommentsLabel">دیدگاه و نظر</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <script src="https://giscus.app/client.js"
              data-repo="phicudemy/phicudemy.github.io"
              data-repo-id="R_kgDOLjzIGw"
              data-category="Announcements"
              data-category-id="DIC_kwDOLjzIG84CfJU1"
              data-mapping="pathname"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="top"
              data-theme="light_high_contrast"
              data-lang="fa"
              crossorigin="anonymous"
              async>
      </script>
    </div>
  </div>
</div>                  
